.card-features-artworks{
    &__header{
        border-radius: 8px 8px 0px 0px;
        overflow: hidden;
    }
    &__img{
        img{width: 100%;}
    }
    &__content{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0px 0px 8px 8px;
        padding: 14px;
    }

    &__footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h5{
        margin-bottom: 12px;
        line-height: 18px;
    }
    .b2{
        margin-bottom: 20px;
    }
    &__like{
        cursor: pointer;

        svg{
            width: 20px;
            height: 18px;
            fill: $color-white;
        }
    }
    &__price{
        position: relative;
        padding-left: 20px;
        font-weight: $fw-semibold;
        font-size: 16px;
        line-height: 24px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 15px;
            height: 24px;
            background: url("../../assets/images/logo-etherium.png");
        }
        &-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 18px;
            color: $color-white;
        }
    }
}