.card-features-artworks{
    &__header{
        border-radius: 8px 8px 0px 0px;
        overflow: hidden;
    }
    &__img{
        img{width: 100%;}
    }
    &__content{
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0px 0px 8px 8px;
        padding: 14px;
    }
}