mixin card-features-artworks(title, description, price, imgSrc, imgAlt)
    div(class="card-features-artworks")&attributes(attributes)
        .card-features-artworks__wrapper 
            .card-features-artworks__header
                .card-features-artworks__img 
                    img(src=imgSrc, alt=imgAlt)
            .card-features-artworks__content 
                h5= title 
                +b2(description)
                .card-features-artworks__price-row
                    | Price
                    +card-price("25.00")
                .card-features-artworks__footer
                    .card-features-artworks__like
                        include ../../../assets/icons/icon-like.svg
                    +button-buy("BUY")
                    