section.hero.outer 
    .container
        .col__content
            .offer
                h4 Featured Film
                h1 ZERO CONTACT
                .b1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit gravida enim, orci morbi elementum gravida.
                +button-arrow("Let’s get started")
            .statistics
                ul.statistics__wrapper
                    li 2k | 
                        span Active user
                    li 5k | 
                        span Music Video
                    li 7k | 
                        span Visual Art
        .col__img
            img(src=require("../../assets/images/hero/decentralized-finance(DeFi).png"), alt="decentralized finance(DeFi)")
