.hero{
    padding-top: 140px;
    padding-bottom: 60px;
    
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .offer{
        max-width: 500px;

        margin-bottom: 123px;

        h4{margin-bottom: 18px;}
        h1{
            color: $color-white_075;
            margin-bottom: 25px;
        }
        .b1{
            max-width: 420px;
            margin-bottom: 27px;
            color: $color-white_075;
        }
    }

    .statistics{
        &__wrapper{
            display: flex;
            align-items: center;
            gap: 45px;
        }
        li{
            font-weight: $fw-semibold;
            line-height: 28px;
            color: $color-white_050;

            span{font-weight: $fw-light;}
        }
    }
}

.col-img-hero{
    position: relative;
    left: -20px;

    img{
        width: 576px;
    }
    &::before,
    &::after{
        content: "";
        position: absolute;
        z-index: 1;
    }
    &::before{
        width: 667px;
        height: 667px;
        left: 45px;
        top: -258px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(158, 44, 44, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &::after{
        width: 355px;
        height: 355px;
        left: 339px;
        top: 376px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(15, 255, 140, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    }
    &__bg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        width: 108.5%;
        height: 125%;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 330px;
        z-index: 2;
    }
    &__light{
        position: absolute;
        mix-blend-mode: soft-light;

        &_right{
            width: 627px;
            height: 627px;
            left: 978px;
            top: -34px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(15, 255, 140, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
        }
        &_bot{
            width: 667px;
            height: 667px;
            left: -59px;
            top: 31px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(52, 255, 182, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
        }
    }
}

@media (max-width: $point-xl){
    .hero{
        .container{
            justify-content: center;
        }
        .offer{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        &__col-img{
            display: none;
        }
    }
}


@media (max-width: $point-sm){
    .hero{
        .offer{
            h4{
                font-size: 18px;
                margin-bottom: 12px;
            }
            h1{
                font-size: 52px;
                line-height: 60px;
                margin-bottom: 15px;
            }
            margin-bottom: 40px;
        }
        .statistics{
            &__wrapper{
                flex-direction: column;
                gap: 15px;
            }
        }
    }
}