section.subscribe.outer 
    .container
        h2 Never Miss a drop!
        +b1("Subscribe to our ultra-exclusive drop list and be the first to know about upcoming dolby drops.")
        .subscribe__form.form-subscribe
            .form-subscribe__wrapper 
                input(class="form-subscribe__input", placeholder="Email Address", tabindex=1, aria-label="Input email address")
                button(class="form-subscribe__button", tabindex=2, type="submit") Subscribe