section.premier-marketplace.outer 
    .container
        .premier-marketplace__col-content
            h2 The Premier Marketplace for Nifties
            +b1("dolby is the premier marketplace for Nifties, which are digital items you can truly own. Digital Items have existed for a long time, but never like this.")
            +button-arrow("Let’s get started")
        .premier-marketplace__col-images
            .premier-marketplace__image.premier-marketplace__image_lg
                img(src=require("Assets/images/premier-marketplace/blockchain.png"), alt="Blockchain")
            .premier-marketplace__image.premier-marketplace__image_md
                img(src=require("Assets/images/premier-marketplace/central-bank.png"), alt="Central-bank")
            .premier-marketplace__image.premier-marketplace__image_sm
                img(src=require("Assets/images/premier-marketplace/wow.png"), alt="Wow")