.button-arrow{
    font-weight: $fw-semibold;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: transparent;
    color: $color-white_075;
    
    svg{
        width: 35px;
        height: 16px;
        fill: $color-yellow;
    }
}