footer.footer.outer 
    .container
        .footer__community.community-footer
            h4 Join the community
            ul
                li
                    a(href="#", aria-label="Link twitter")
                        include Assets/icons/icon-twitter.svg
                li
                    a(href="#", aria-label="Link instagram")
                        include Assets/icons/icon-instagram.svg
                li
                    a(href="#", aria-label="Link discord")
                        include Assets/icons/icon-discord.svg
                li
                    a(href="#", aria-label="Link reddit")
                        include Assets/icons/icon-reddit.svg
                li
                    a(href="#", aria-label="Link mail")
                        include Assets/icons/icon-mail.svg
        .footer__col
            .footer__col-title Menu
            ul 
                li
                    a(href="#") Explore
                li
                    a(href="#") My items
                li
                    a(href="#") Create
        .footer__col
            .footer__col-title Info
            ul 
                li
                    a(href="#") Privacy Policy
                li
                    a(href="#") Terms of service
                li
                    a(href="#") Help!
