@import "fonts";
@import "nullstyles";
@import "vars";


h1, h2, h3, h4, h5, h6 {
    font-weight: $fw-bold;
    font-size: 80px;
}

h1{
    line-height: 80px;
    letter-spacing: 0.1em;
}
h2{font-size: 48px;}
h3{font-size: 36px;}
h4{
    font-size: 24px;
    font-weight: $fw-semibold;
    line-height: 33px;
    letter-spacing: 0.1em;
}
h5{
    font-size: 18px;
    font-weight: $fw-semibold;
}
.outer{
    padding-right: 15px;
    padding-left: 15px;
}


.container{
    width: 100%;
    max-width: $limited;
    margin: 0 auto;
}

/* MAIN GRID */
.root{
    background: $color-bg-linear;
    display: flex;
    flex-direction: column
}

.page{flex: 1 1 auto;}

/* COMPONENTS */
@import "Components/header/header.scss";
@import "Components/hero/hero.scss";
@import "Components/features-artworks/features-artworks.scss";
@import "Components/subscribe/subscribe.scss";
@import "Components/premier-marketplace/premier-marketplace.scss";
@import "Components/recent-activity/recent-activity.scss";
@import "Components/footer/footer.scss";

/* UI */
@import "Components/ui/typography/body/b1/b1.scss";
@import "Components/ui/buttons/button-arrow/button-arrow.scss";