mixin slider(className, title, items)
	.slider
		.slider__header
			h3= title
			.slider__actions
				+button-arrow("Browse More")
				.slider__navigation
					button(class=`slider__button slider__button-prev slider-${className}__button-prev`)
						include ../../assets/icons/icon-angle-left.svg
					button(class=`slider__button slider__button-next slider-${className}__button-next`)
						include ../../assets/icons/icon-angle-right.svg
		div(class=`swiper-container slider-container slider-${className}`)
			.slider__wrapper.swiper-wrapper
				each item in items
					.swiper-slide.slider-slide
						if className === "features-artworks"
							+card-features-artworks(item.title, item.description, item.price, item.imgSrc, item.imgAlt)
						else
							+card-recent-activity(item.title, item.price, item.imgSrc, item.imgAlt)
