mixin slider(className, title, items)
	.slider
		.slider__header
			h3= title
			.slider__actions
				+button-arrow("Browse More")
				.slider__navigation
					button.slider__button.slider__button-prev
						include ../../assets/icons/icon-angle-left.svg
					button.slider__button.slider__button-next
						include ../../assets/icons/icon-angle-right.svg
		div(class=`swiper-container slider-${className}`)
			.slider__wrapper.swiper-wrapper
				each item in items
					.swiper-slide
						+card-features-artworks(item.title, item.description, item.price, item.imgSrc, item.imgAlt)
			.slider__buttons
