.slider{
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 70px;
    }
    &__wrapper{
        height: auto;
    }
    &__actions{
        display: flex;
        align-items: center;
        gap: 35px;
    }
    &__navigation{
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__button{
        background-color: transparent;

        &:disabled svg path{fill-opacity: .75;}
        
        svg{
            width: 14px;
            height: 31px;

            path{
                fill: $color-white;
                transition: .5s;
            }
        }
    }
}